/* import fonts here and add other shit too */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');
@font-face {
  font-family: montserrat-custom;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: cinzel-custom;
  src: url(fonts/Cinzel-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

#landing {
  display: flex;
  justify-content: space-between;
  background-color: #fbf0eb;
}

#signup-content {
  display: flex;
  /* flex-direction: column;
  align-content: center; */
}

#signup-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('images/bgimg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: montserrat-custom;
  position: relative;
}

#login-signup-footer {
  display: flex;
  font-family: cinzel-custom;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fbf0eb;
  align-items: center;
}

#header-nav {
  display: flex;
  justify-items: space-between;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

#gnh-text-logo {
  display: flex;
  font-family: cinzel-custom;
  /* flex-grow: 1; */
}

#logo-and-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cinzel-custom;
}

#left-panel-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: montserrat-custom;
  color: #ffad52;
}

#ad-space img {
  display: flex;
  width: 167px;
  height: 237;
  justify-content: flex-end;
}

.login-signup-header {
  font-family: cinzel-custom;
}

/* .left-panel-links {
  display: flex;
} */
